<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
	<button class="dl-trigger">Open Menu</button>
	<ul class="dl-menu">
		<li><a href="{{ site.url }}/">Home</a></li>
		<li>
			<a href="#">Orientações</a>
			<ul class="dl-submenu">
				<li><a href="{{ site.url }}/orientacoes-em-andamento/">Em andamento</a></li>
				<li><a href="{{ site.url }}/orientacoes-concluidas/">Concluídas</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Materiais de aula</a>
			<ul class="dl-submenu">
				<li><a href="{{ site.url }}/sistemas-distribuidos/">Sistemas Distribuídos</a></li>
				<li><a href="{{ site.url }}/asi/">Administração de Serviços para Internet</a></li>
			</ul>	
		</li>
		{% for link in site.data.navigation %}
			{% if link.url contains 'http' %}
					{% assign domain = '' %}
					{% else %}
					{% assign domain = site.url %}
			{% endif %}
			<li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" rel="noopener noreferrer"{% endif %}>{{ link.title }}</a></li>
		{% endfor %}
			<li><a href="{{ site.url }}/sobre/">Sobre</a></li>
	</ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->
